#atc {
  width: 100px;
  height: 40px;
  background-color: red;
  border-radius: 3px;
  text-align: center;
  color: white;
}

#pickup {
  width: 100px;
  height: 40px;
  background-color: black;
  border-radius: 3px;
  text-align: center;
  color: white;
}

.add-share {
  color: white;
  background: lightGrey;
  width: 30%;
  height: 80%;
  font-size: 75%;
  text-align: center;
  vertical-align: center;
  border-radius: 2px;
}
