.button {
  width: 45%;
  height: 75%;
  border-radius: 3px;
  text-align: center;
  color: white;
  line-height: 90%;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 2px 2px 1px grey;
}

.button:hover {
  box-shadow: 2px 2px 1px lightBlue;
  cursor: pointer;
}

#atc {
  background-color: #E80018;
}

#pickup {
  background-color: black;
}

.add-share {
  color: black;
  background: lightGrey;
  width: 30%;
  height: 75%;
  line-height: 100%;
  font-size: 85%;
  text-align: center;
  border-radius: 2px;
}

.hidden {
  display: none;
}
