.quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50%;
  width: 50%;
  border: 1px solid black;
}

.quantity-text {
  width: 30%;
  margin-left: 5%;
}

.quantity-adjust {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 30%;
}

.quantity-button {
  font-size: 25px;
  color: lightGrey;
}

.quantity-button:hover {
  cursor: pointer;
  color: #E80018;
}

.quantity-number {
  font-size: 100%;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .quantity-button {
    font-size: 20px;
    color: lightGrey;
  }
}
