.review-box {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 20%;
  margin-top: 5%;
}

.review-topper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.pro-con-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: lightGrey;
}

.pro-con-topper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin-left: 5%;
  line-height: 12px;
}

.pro-con-topper > span {
  margin-right: 12%;
}

.pro-con-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  margin-left: 5%;
}

.pro-con-item {
  width: 45%;
}

.review-divider {
  height: 1px;
  width: 90%;
  background: black;
  margin-left: 5%;
}

.overall-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 45%;
  font-weight: bold;
}

.overall-rating > span {
  margin-left: 3%;
}

.view-all {
  display: flex;
  justify-content: flex-end;
  width: 45%;
  font-weight: bold;
}
